@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  @apply m-0 p-0 box-border;
}
.container {
  @apply max-w-none overflow-hidden;
}
.grid-sizer {
  @apply w-full md:w-1/2 lg:w-1/3 xl:w-1/4;
}
html {
  font-size: 16px;
  @apply scroll-smooth font-roboto;
}

@font-face {
  font-family: "flowerpower";
  src: url("./fonts/flowerpower.ttf") format("truetype");
  font-display: swap; /* Met une police système le temps que la police se charge */
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  @apply bg-noir text-blanc;
}

.padding {
  @apply p-5 sm:px-[3.75rem];
}

h1>span {
  @apply font-flower leading-none text-primary text-[4rem] text-center;
}

h1 {
  @apply font-flower leading-none text-primary text-[3rem] text-center;
}

h2 {
  @apply font-flower leading-none text-primary text-[2rem] text-center;
}

h3 {
  @apply font-flower leading-none text-primary text-[1.5rem] text-center;
}

h4 {
  @apply font-flower leading-none text-primary text-[1.25rem] text-center;
}

button,
.text-more {
  @apply font-roboto text-[1.125rem] text-center;
}

p, .text-less {
  @apply font-roboto text-[1rem];
}

.hover-effect {
  @apply relative font-semibold hover:text-primary;
}

.hover-effect::before {
  @apply content-[''] absolute bottom-0 left-1/2 -translate-x-1/2 transform scale-0 transition-transform duration-500 ease-in-out w-full h-[2px] bg-primary;
}

.hover-effect:hover::before {
  @apply  -translate-x-1/2 transform scale-100;
}

.active-link {
  @apply text-primary font-semibold text-more hover-effect;
}

.active-link::before {
  @apply content-[''] absolute bottom-0 left-1/2 -translate-x-1/2 transform scale-100 transition-transform duration-500 ease-in-out w-full h-[2px] bg-primary;
}

.box-shadow-primary {
  @apply drop-shadow-primary hover:drop-shadow-shadowhover;
}

/* Lien de l'inspiration https://codepen.io/rauldronca/pen/mEXomp */

.btn {
  @apply relative overflow-hidden transition-all duration-500 px-6 py-2;
}
.btn > .before-effect {
  @apply absolute inset-0 bg-blanc transition-all duration-300 z-10;
}
.btn:hover > .before-effect {
  @apply opacity-0 scale-50;
}
.btn > .after-effect {
  @apply absolute inset-0 border border-blanc opacity-0 scale-125 transition-all duration-300 z-10;
}
.btn:hover > .after-effect {
  @apply opacity-100 scale-100;
}
.btn > .btn-text {
  @apply relative z-20;
}